.navbar-inverse {
    background: #F44336 -webkit-linear-gradient(top,#F44336,#0a64eb)!important;
}

#logo-img {
    width: 20%;
}

.navbar-header a span, .nav li a {
    color: white !important;
}

.navbar-header a span:hover, .nav li a:hover {
    color: lightgrey !important;
}

.thumbnail {
    text-align: center;
}

aside {
    border: 5px solid #e6e6e6;
    border-radius: 5px;
}

#search-btn {
    margin-bottom: 1%;
}

.user-img {
    margin-bottom: 8%;
}

.follow-btn {
    margin-bottom: 15%;
}

.user-name {
    margin-bottom: 30%;
}